.r6o-widget.r6o-taxonomy.r6o-tag {
  position:relative;
  padding:4px 8px;
  background-color:$blueish-white;
  display:block;
  
  .r6o-taxonomy-input-placeholder {
    display:inline-block;
    color:#c2c2c2;
    font-size:20px;
    vertical-align:middle;
    padding-top:4px;
    padding-right:3px;
  }

  .r6o-autocomplete {
    display:inline-block;
  }

  ul.r6o-taglist {
    display:inline-block;
    white-space:normal;
  }

  button.r6o-taxonomy-open-treebrowser {
    position:absolute;
    right:9px;
    top:6px;
    padding:3px 7px 0 8px;
    font-size:18px;
    color:$ocean;
    background:none;
    outline:none;
    border:1px solid transparent;
    border-radius:3px;
    cursor:pointer;
  }

  button.r6o-taxonomy-open-treebrowser:hover{
    border-color:$ocean;
  }
}