.react-draggable {
  z-index:99999;  
}

.r6o-taxonomy.r6o-taxonomybrowser {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#fff;
  @include rounded-corners(3px);
  @include box-shadow(2px, 2px, 42px, 0.4);

  .r6o-taxonomybrowser-wrapper {
    max-height:100%;
    display:flex;
    flex-direction:column;
    align-items:stretch;
  }

  header {
    flex:0;
    background-color:$ocean;
    color:#fff;
    cursor:move;
    padding:10px;
    position:relative;
    @include rounded-corners-top(3px);

    h1 {
      margin:0;
      padding:0;
      font-weight:normal;
      font-size:1.1em;
    }

    .icon.close {
      position:absolute;
      font-size:30px;
      top:4px;
      right:4px;
      cursor:pointer;
    }
  }

  .r6o-taxonomysearch {
    position:relative;

    .r6o-taxonomysearch-input {

      input {
        width:100%;
        padding:12px;
        box-sizing:border-box;
        border-style:solid;
        border-width:0 0 1px 0;
        border-color:$lightgrey-border;
        outline:none;
        background-color:$blueish-white;
      }

      button {
        position:absolute;
        top:6px;
        right:2px;
        border:none;
        outline:none;
        cursor:pointer;
        background:transparent;
        font-size:24px;
        color:#afafaf;
      }
    
    }

    .r6o-taxonomysearch-results {
      position:absolute;
      left:5px;
      background-color:#fff;
      z-index:2;
      min-width:60%;
      @include box-shadow(1px, 1px, 8px, 0.25);
      @include rounded-corners(2px);

      ul {
        margin:0;
        padding:0;
        list-style-type:none;
      }

      ul:empty {
        display:none;
      }

      li {
        cursor:pointer;
        padding:10px;
        border-bottom:1px solid $lightgrey-border;
      }

      li:hover,
      li.highlighted {
        background-color:$blueish-white-hi;
      }

      li:last-child {
        border-bottom:none;
      }

    }

  }

  main {
    flex:0;
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    padding-bottom:40px;
    position:relative;
    height:100%;
    overflow-y:auto;

    .r6o-taxonomytree {
      z-index:1;
      padding:10px;
    
      ul {
        list-style-type:none;
        padding:6px 0 0 0.5em;
        margin:0;
      }

      li {
        position:relative;
        padding:3px 0 0 1em;
        font-size:14px;
        line-height:20px;

        label {
          cursor:pointer;
        }

        label:hover {
          color:$ocean;
          text-decoration:underline;
        }
      
      }

      li::before,
      li::after {
        content:'';
        position:absolute;
        top:0;
        left:0;
        display:block;
      }

      li::before {
        width:2px;
        height:100%;
        background-color:#a1a1a1;
      }
      
      li::after {
        width:0.8em;
        height:12px;
        border-bottom:2px solid #a1a1a1;
      }
      
      li.last::before {
        height:12px;
      }

      .expand {
        cursor:pointer;
        color:$ocean;
        padding-right:4px;
        vertical-align:text-bottom;
        font-size:19px;
      }

    }

  }

}